.myback {
background-color:RGB(31,95,139);

}
.btnblack {
background-color:RGB(31,95,139);
color: white;
}
.greenbtn{
background-color:DarkGreen;
color:white;
}
.logo{
height:40px;
}
.thgrey{
background-color:LightGray;
}
.addbtn{
width=30px;
background-color:RGB(48,118,114);
color: white;
}

.theadback {
background-color:RGB(168,216,234);
color: white;
}
.backtable{
background-color:RGB(254,249,246)
}
.backcategory{
background-color:RGB(230,247,254)
}
.scrolltable{
display:block;
overflow-y: auto;
height:75vh;
}
.scrolltable2{
display:block;
overflow-y: auto;
height:82vh;
}
.scrolltable3{
display:block;
overflow-y: auto;
height:50vh;
}


.righttext{
text-align:right;
border-radius:5px;
border-color:white;

}
.mediumtext{
font-size:medium;
}
.smalltext{
font-size:small;
}
.textright{
text-align:right;

}
.textcenter{
text-align:center;
}
.formselect{

border-radius:5px;
border-color:white;
height:35 px;
font-size:18px;

margin-top:2px;
}
.tabletextcolor{
color:black;
}
.nomerdoc{
width:100px;
color:red;
}
.deltable{
background-color:RGB(87,20,20);
}