{% extends 'trade/trade.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block DataArea %}

<div  >





<h4>Номенклатура</h4>

 <div style="display:block;overflow-y: auto; height:570px;"  >
<table class="table table-bordered  table-hover mb-5 table-sm" >
    <thead class="btnblack "><tr>

    <th class="btnblack"  >Наименование</th>
    <th class="text-center">Ед.изм</th>
     <th class="text-center">Цена</th>
      <th class="text-center">В наличии</th>
    </tr></thead>
    {% for key in uniqueCat %}
{% for category in categories %}
{% if category.title == key %}
    <tr>
        <td colspan="4" style="background-color:Gainsboro;">
      <a name={{category.id}}></a> <img src="{{category.photo.url}}"  alt="..." width="45" height="45" title={{category.title}} class="mb-2 rounded-circle">
            <strong> {{category.title}}</strong>
        </td>

</tr>
    {% for key,value in uniqueGood.items %}
    {% if value.1 == category.title %}
    {% if value.3 != 0 %}
    <tr>
        <td ><a href="{% url 'GoodToCheck' value.6 value.2 %}" class="text-dark "> {{value.0}}</a></td>
        <td class="text-center">{{value.5}}</td>
         <td style="text-align:right">{{value.2|floatformat:2}}</td>
         <td style="text-align:center" >{{value.3|floatformat:2}} </td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
{% endfor %}
{% endfor %}



</table>

</div>

</div>
<hr>



{% endblock DataArea %}

{% block CheckArea %}

<h4 style=" display:inline">Кассовый чек
    {% if checkstring == 'Чек проведен' %}
    <span class="mediumtext text-success float-right mt-1">{{checkstring}}</span>
    {% endif %}
    {% if checkstring == 'Продажа отменена' %}
    <span class="mediumtext text-danger float-right mt-1">{{checkstring}}</span>
    {% endif %}
</h4>


<div style="display:block;overflow-y: auto; height:550px;"  >

<table class="table table-bordered  table-hover mb-5 table-sm mt-2" >
    <thead class="btnblack "><tr>

    <th  >Наименование</th>

     <th style="width:70px"  >Цена</th>
        <th class=" text-center " style="width:40px"> - </th>
      <th style="width:80px" class="text-end" >К-во</th>
        <th class=" text-center" style="width:10px" >+</th>
        <th style="width:70px" >Сумма</th>
        <th class=" text-center mml-1" style="width:10px">x</th>
    </tr></thead>

{% for item in goodcheck %}

<tr>
    <td>{{item.title}}, {{item.unit}}</td>
    <td style="text-align:right">{{item.price|floatformat:2}}</td>
    <td><a href="{% url 'DecVolume' item.pk %}"><button  class="btn btn-secondary btn-sm  " title="Убавить" >-</button> </a></td>
    <td style="text-align:right">{{item.volume|floatformat:2}}</td>
       <td> <a href="{% url 'IncVolume' item.pk %}"><button id="btn{{item.idgood}}{{item.price|floatformat:'0' }}" class="btn btn-secondary btn-sm" title="Добавить"
        >+</button></a>
    </td>

    <td style="text-align:right">{{item.total|floatformat:2}}</td>
    <td> <a href="{% url 'DeleteCheckRecord' item.pk %}"><button class="btn btn-secondary btn-sm " title="Удалить">x</button></a></td>
</tr>

{% endfor %}

{% if checkoplata != None%}
    <tr >
    <td colspan="5" class="btnblack">
<h5>К оплате: </h5></td>
        <td  style="text-align:right" class="btnblack"><h5>{{checkoplata|floatformat:2}}</h5></td>
        <td class="btnblack"><strong>руб.</strong></td>
    </tr>
{% endif %}
</table>

{% if checkoplata != None%}

   <div class="text-end d-inline-block float-right"><a href="{% url 'TerminalCheck' %}" class="btn btn-primary">Терминал</a>
    <a href="{% url 'CashCheck' %}" class="btn btn-success">Наличные</a>
    <a href="{% url 'DeleteCheck' %}" class="btn btn-secondary">Отмена</a></div>

{% endif %}
</div>
{% endblock CheckArea %}
