{% extends 'trade/trade.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block DataArea %}

<div  >





<h4>Номенклатура</h4>

 <div style="display:block;overflow-y: auto; height:570px;"  >
<table class="table table-bordered  table-hover mb-5 table-sm" >
    <thead class="btnblack "><tr>

    <th class="btnblack"  >Наименование</th>
    <th class="text-center">Ед.изм</th>
     <th class="text-center">Цена</th>
      <th class="text-center">В наличии</th>
    </tr></thead>

{% for category in uncategory %}

    <tr>
        <td colspan="4" style="background-color:Gainsboro;">
      <img src="../../media/{{category.1}}"  alt="..." width="25" height="25"  class="mb-2 rounded-circle">
            <strong> {{category.0}}</strong>
        </td>
</tr>
{% for item in tmpGood %}
{% if item.category == category.0 %}
    <tr>
        <td ><a href="{% url 'GoodToCheck' item.idgood item.price %}" class="text-dark "> {{item.title}}</a></td>
        <td class="text-center">{{item.unit}}</td>
         <td style="text-align:right">{{item.price|floatformat:2}}</td>
         <td style="text-align:center" >{{item.kolvo|floatformat:2}} </td>
    </tr>
{% endif %}
{% endfor %}

    {% endfor %}

</table>

</div>

</div>
<hr>



{% endblock DataArea %}

{% block CheckArea %}

<h4 style=" display:inline">Кассовый чек

    <span class="mediumtext text-primary float-right ">{{msg}}
<a href="{% url 'CreateInitialDoc' %}" class="btn btn-primary  btn-sm      ">Продажи {% now "d.m.Y" %} </a></span>


</h4>


<div style="display:block;overflow-y: auto; height:550px;float:right"  >

<table class="table table-bordered  table-hover mb-5 table-sm mt-2" >
    <thead class="btnblack "><tr>

    <th  >Наименование</th>

     <th style="width:70px"  >Цена</th>
        <th class=" text-center " style="width:40px"> - </th>
      <th style="width:80px" class="text-end" >К-во</th>
        <th class=" text-center" style="width:10px" >+</th>
        <th style="width:70px" >Сумма</th>
        <th class=" text-center mml-1" style="width:10px">x</th>
    </tr></thead>

{% for item in toCheck.values %}

<tr>
    <td>{{item.title}}, {{item.unit}}</td>
    <td style="text-align:right">{{item.price|floatformat:2}}</td>
    <td><a href="{% url 'DecVolume' item.title item.price %}"><img src="{% static 'trade/images/minus.png' %}" width="20" height="20"> </a></td>
    <td style="text-align:right">{{item.volume|floatformat:2}}</td>
       <td> <a href="{% url 'IncVolume' item.title item.price %}"><img src="{% static 'trade/images/add.png' %}" width="20" height="20"></a>
    </td>

    <td style="text-align:right;verical-aligh:bottom">{{item.total|floatformat:2}}</td>
    <td> <a href="{% url 'DeleteCheckRecord' item.title item.price %}"><img src="{% static 'trade/images/cross.png' %}" width="24" height="24" ></a></td>
</tr>

{% endfor %}

{% if summaCheck != 0%}
    <tr >
    <td colspan="5" class="btnblack">
<h5>К оплате: </h5></td>
        <td  style="text-align:right" class="btnblack"><h5>{{summaCheck|floatformat:2}}</h5></td>
        <td class="btnblack"><strong>руб.</strong></td>
    </tr>
{% endif %}
</table>
  {% if summaCheck != 0%}



   <div class="text-end d-inline-block float-right"><a href="{% url 'CashCheck' 5 %}" class="btn btn-primary">Терминал</a>
    <a href="{% url 'CashCheck' 4 %}" class="btn btn-success">Наличные</a>
    <a href="{% url 'DeleteCheck' %}" class="btn btn-secondary">Отмена</a></div>

{% endif %}
</div>
{% endblock CheckArea %}
