{% extends 'trade/listpage.html' %}
{% load static %}
{% block DataArea %}
<h5 class="mb-3">{{title}}</h5>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row pb-1 pl-2 pt-1">
            {{form.title}}
            {{form.unit}}<a href="{% url 'Create' 'Unit'  %}" class="btn-secondary btn btn-sm btnblack"
            title="Открыть справочник">...</a>{{form.category}}<a href="{% url 'Category' %}"
            class="btn-secondary btn btn-sm btnblack">...</a>
            <div class="text-end ml-1 ">
                <button type="submit" class="btn btn-success btn-sm shadow ">Добавить</button>
                <a href="{% url 'Good'  %}" class="btn btn-secondary btn-sm shadow btnblack ">Отмена </a>
            </div>
    </form>
        </div>
 </div>
<div style="display:block;overflow-y: auto; height:550px;">
    <table class="table table-sm table-bordered table-hover  ">
        <tr class="secondary">
            <th class="btnblack">Наименование</th>
            <th class="text-center btnblack ">Удалить</th>
        </tr>
        {% for item in category %}
        <tr>
            <td class="pt-2 pb-0 backcategory" colspan="2">{% if item.photo %}<img src="{{item.photo.url}}" alt="..." width="30"
            height="30" class="mb-2 rounded-circle">{% endif %}
                {{item.title}}
            </td>
        </tr>
        {% for good in goods %}
        {% if item.id == good.category_id %}
        <tr>
            <td><a href="{% url 'UpdateGoods' good.pk %}" class="text-dark">{{good.title}}, {{good.unit}} </a></td>
            <td class="text-center pt-0 pb-2 " style="vertical-align:middle"><a href="{% url 'DeleteGoods' good.pk %}">
                <img src="{% static 'trade/images/delete2.png' %}" height="18" style="top:10px"></a></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock DataArea %}