{% extends 'trade/DocPage.html' %}
{% load static %}
{% block LinkArea %}
<h4 class="text-white">Документы</h4>


     <a href="{% url 'ReceiptDoc' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Поступление </a>
       <a href="{% url 'InitialDoc' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Ввод остатков</a>
<a href="{% url 'Create' 'Unit' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Списание </a>
<a href="{% url 'CheckJurnal' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Кассовые чеки </a>

<a href="{% url 'home' %}" class="btn btn-secondary border border-white  nav-link mb-1 addbtn">На главную</a>

{% endblock LinkArea %}
{% block DataArea %}
<div class="row">
 <div class="col-md-12 ">
<h4 >Журнал начальных остатков

    <div class="text-end d-inline-block float-right"><a href="{% url 'CreateInitialDoc' %}" class="btn btn-success  btn-sm    mb-1  ">Новый документ </a></div>
</h4>
<div class="scrolltable ">
    <table class="table table-sm table-bordered mt-0 " >
    <tr>
        <th class="btnblack  textcenter" >Номер документа</th>
        <th class="btnblack  textcenter"  >Дата документа</th>

        <th class="btnblack  textright" >Сумма закупки</th>
        <th class="btnblack  textright " >Сумма продажи</th>
        <th class="btnblack  textcenter " colspan="2">Действие</th>
    </tr>

{% for item in doc %}
    <tr>
        <th class=" lead textcenter text-dark" > {{item.nomerdoc}}</th>
        <th class=" lead textcenter text-dark" >{{item.datadoc|date:"d.m.Y"}}</th>
        <th class=" lead textright">{{item.buytotal}}</th>
        <th class=" lead textright">{{item.saletotal}}</th>
  <td class="text-center pt-0 pb-2 " style="vertical-align:middle"><a href="{% url 'UpdateInitialDoc' item.pk %}" ><img src="{% static 'trade/images/edit2.png' %}" height="22" style="top:10px" title="Редактировать" ></a></td>
  <td class="text-center pt-0 pb-2 " style="vertical-align:middle"><a href="{% url 'DeleteInitialDoc' item.pk %}" ><img src="{% static 'trade/images/delete2.png' %}" height="18" style="top:10px" title="Удалить документ" ></a></td>
    </tr>

{% endfor %}
    </table>
</div>
 </div>
</div>

{% endblock DataArea %}