{% extends 'trade/base.html' %}
{% block LinkArea %}
<h4 class="text-white ">Торговля</h4>
     <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Продажа </a>
       <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Документы</a>


<h4>Гостиница</h4>
          <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Регистрация</a>
         <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Выписка</a>


<h4>Отчеты</h4>
 <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Печать отчетов</a>

<h4>Настройки</h4>
          <a href="{% url 'listpage' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Справочники</a>

{% endblock LinkArea %}
