{% extends 'trade/base.html' %}
{% block LinkArea %}
<h4 class="text-white ">Торговля</h4>
{% if gruppa == 'Персонал' %}
     <a href="{% url 'GetData' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack " >Продажа </a>
{% endif %}
       <a href="{% url 'DocPage' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Документы</a>


<h4 class="text-white ">Гостиница</h4>
          <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Регистрация</a>
         <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Выписка</a>


<h4 class="text-white ">Отчеты</h4>
 <a href="#" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Печать отчетов</a>

<h4 class="text-white ">Настройки</h4>
          <a href="{% url 'listpage' %}" class="btn btn-secondary border border-white  nav-link mb-1 btnblack">Справочники</a>

{% endblock LinkArea %}
