{% extends 'trade/listpage.html' %}
{% load static %}
{% block DataArea %}
 <h5 class="mb-3">{{title}}</h5>

<div class="scrolltable"  >
<table class="table table-sm table-bordered table-hover   ">
   <tr class="secondary">
     <th colspan="2" class="btnblack">Наименование</th>
     <th class="text-center btnblack" colspan="2">Действие</th>
    </tr>
    <tr>
        <th colspan="2" class="btnblack">
            <div >
    <form action="" method="post" enctype="multipart/form-data">
   {% csrf_token %}
        <div class="form-row pb-1 pl-2 pt-1">
            {{form.title}}{{form.photo}}</div>
</th>
  <th colspan="2" class="btnblack">
<div class="text-end ml-1 ">
     <button type="submit" class="btn btn-warning btn-sm shadow mt-1" style="width:80px;" >Изменить</button></th>

</div>
    </form>
</div></div>

    </tr>
{% for item in data %}
<tr>
     <td class="pt-2 pb-0" style="width:50px">{% if item.photo %}<img src="{{item.photo.url}}"  alt="..." width="30" height="30" class="mb-2 rounded-circle" >{% endif %}</td>
    <td class="pt-2 pb-0 align-middle lead">{{item.title}}</td>
     <td class="text-center pt-0 pb-2" style="vertical-align:middle"><a href="{% url 'UpdateCategory' item.pk %}" ><img src="{% static 'trade/images/edit2.png' %}" height="22" title="Изменить" ></a></td>
    <td class="text-center pt-0 pb-2" style="vertical-align:middle"><a href="{% url 'DeleteCategory' item.pk %}" ><img src="{% static 'trade/images/delete2.png' %}" height="18" title="Удалить" ></a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock DataArea %}